<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실험실</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <div class="container" id="test-container">
      <h1>&lt;부하 테스트기&gt;</h1>
      <p>
        각각 다른 요청을 보내는 버튼을 클릭해 애플리케이션의 부하를 발생시키고
        이를 모니터링하여 원인을 찾아 봅시다!
      </p>
      <div class="button-container">
        <div class="test-button health-check">
          <a th:href="@{/health}">헬스 체크</a>
        </div>
        <div class="test-button make-log">
          <a th:href="@{/log}">로그 생성</a>
        </div>
        <div class="test-button slow-db">
          <a th:href="@{/db/postgresql/sleep}">DB 느리게</a>
        </div>
        <div class="test-button load-cpu">
          <a th:href="@{/calculate/all}">CPU 부하 상승</a>
        </div>
      </div>
      <div class="desc-box hide">
        <div class="health-check">헬스 체크</div>
        <div>
          caller 애플리케이션이 callee 애플리케이션의 상태를 체크하는 api 를
          호출합니다.
        </div>
      </div>
      <div class="desc-box hide">
        <div class="make-log">로그 생성</div>
        <div>
          caller 애플리케이션이 callee 애플리케이션을, callee 애플리케이션이
          callee-with-db 애플리케이션의 log 생성 api 를 호출합니다.
        </div>
      </div>
      <div class="desc-box hide">
        <div class="slow-db">DB 느리게</div>
        <div>
          caller → callee → callee-with-db 순으로 호출하며 callee-with-db 에서
          트랜젝션이 매우 느리게 진행됩니다.
        </div>
      </div>
      <div class="desc-box hide">
        <div class="load-cpu">CPU 부하 상승</div>
        <div>
          caller → callee 순으로 호출하며 callee 에서 무거운 연산이 오랫동안
          진행됩니다.
        </div>
      </div>
      <div class="footer">©2024. WhaTap Labs Inc. all rights reserved.</div>
    </div>
    <script th:src="@{/js/script.js}"></script>
  </body>
</html>
